# Auto detect text files and perform LF normalization
* text=auto
WindNET.7z filter=lfs diff=lfs merge=lfs -text
Elvenar.7z filter=lfs diff=lfs merge=lfs -text
hlmv.7z filter=lfs diff=lfs merge=lfs -text
NemsTools.7z filter=lfs diff=lfs merge=lfs -text
wally.7z filter=lfs diff=lfs merge=lfs -text
AwesomeBump.7z filter=lfs diff=lfs merge=lfs -text
perfetto.7z filter=lfs diff=lfs merge=lfs -text